@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter;
}

* {
    outline: none;
}

#assets-list p.editing {
    font-weight: 600;
    letter-spacing: .4px;
    color: #222;
}
