@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
}

* {
  outline: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.tag-has-info {
  /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */

  /* border: 1px solid #000; */
  /* box-shadow: 
        0 0 0 1px white,
        0 0 0 2px #999
        ; */

  font-weight: 500;
}

/* .tag-has-info::after {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    z-index: 5;
    top: 100%;
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #00f, #0f0);
    border-radius: 0 0 6px 6px;
} */

input {
  background-color: transparent;
}

#assets-list p.editing {
  font-weight: 600;
  letter-spacing: .4px;
  color: #222;
}

.plate {
  box-shadow:
    inset 0 -1px 0 1px #00000030,
    inset 0 1px 0 1px #ffffff20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.container {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.scroll-style::-webkit-scrollbar {
  width: 6px;
}

.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: rgb(0, 0, 0, 0.1);
}

#layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'navbar main'
  ;
}

#tags-library {
  display: grid;
  grid-template-columns: auto minmax(120px, max-content) minmax(340px, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
    'navbar tags assets'
  ;
}

@media (max-width: 560px) {
  #navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'main'
      'navbar'
    ;
  }

  #tags-library {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(minmax(auto-fill, 1fr));
    grid-template-areas:
      'tags'
      'assets'
      'navbar'
    ;
  }
}

#asset-page {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'navbar main'
  ;
}